*{
    font-family: Arial, Helvetica, sans-serif;
}

/*----- Header Styling -----*/
header{
    display: flex;
    background-color: aqua;
    height: 650px;
}

.header-wrap{
    display: flex;
    margin: 0 auto;
    position: fixed;
    left:0;
    right:0;
    justify-content: center;
    padding: auto;
    height: 10vmax;
}

.logo-wrap{
    display: flex;
    justify-content: center;
    width: 45%;
    padding-right: 15%;
    padding-left: 1%;
}

.logo-wrap img{
    width: 80px;
    height: 80px;
}

.name{
    display: flex;
    flex-direction: column;
    height: 80px;
    width: 60%;
    color: white;
    font-size: 24px;
    text-align: start;
    align-content: center;
}

.arrange-text{
    display: flex;
    width: 25%;
}

.nuevo{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: -32px;
    margin-top: -1.5px;
    padding-left: 1%;
}

.small{
    font-size: 14px;
    font-weight: bold;
    padding: 10% 5% 0 8%; 
}

.sendero{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 2px;
}

nav{
    width: 55%;
    align-content: space-evenly;
    position: relative;
    padding-right: 5%;
}

.nav-button{
        padding: 2% 6% 2% 6%;
        margin-left: 2%;
        margin-right: 2%;
}

#slogan{
    display: flex;
    justify-content: center;
    margin-top: 12%;
    width: 1000px;
    height: 800px;
    font-size: 2.5em;
}

#slogan .logo{
    height: 200px;
    width: 25%;
    padding: 4% 1% 1% 25%;
}

#slogan h1{
    color: white;
    width: 75%;
    padding: 1% 1% 2% 1%;
}

/*----- Service Slice Styling -----*/

.slice{
    background-color: darkcyan;
    width: 100%;
    height: 225px;
    display: flex;
    color: white;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.cta{
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: -5%;
    font-size: 38px;
    width: 50%;
}

.slice-details{
    font-size: 37px;
    line-height: 42px;
    width: 50%;
}

#learn-more{
    display: flex;
    margin-top: -7%;
}

#learn-more p{
    font-size: 32px;
    font-weight: bold;
}

#learn-more button{
    border-style: none;
    background-color: transparent;
    color: white;
    font-weight: bolder;
    font-size: 32px;
}



/*----- Footer Styling -----*/

footer{
    background-attachment: fixed;
    background-color: darkolivegreen;
}